---
title: Base Mail
host: http://manumorante.github.io/email-maker
folder: base-mail

---

<h3><%= lorem.date %></h3>

<p>
  <%= image src: 'city.jpg', width: '400px', height: '300px' %>
</p>

<span <%= font %>>
  <p <%= font size: '20px' %>>Hello <%= lorem.first_name %>,</p>
  <p><%= lorem.paragraphs 1 %></p>
  <p <%= font family: 'Courier' %>><%= lorem.sentence %></p>
  <p><%= lorem.words 5 %></p>
  <p>Email: <%= lorem.email %></p>
  <p>Thanks.<br>  <%= lorem.name %></p>
</span>

<table <%= table %>>
  <tr>
    <td>Table td 1</td>
    <td>Table td 2</td>
  </tr>
</table>