---
name: base
---

<h3>To <%= lorem.name %> - <%= lorem.date %></h3>

<span <%= font %>>
  <p <%= font size: '20px' %>>Hello <%= lorem.first_name %>,</p>
  <p <%= font family: 'Courier' %>><%= lorem.paragraphs 1 %></p>
  <p><%= lorem.sentence %></p>
  <p><%= lorem.words 5 %></p>
  <p>Email: <%= lorem.email %></p>
  <p>Thanks.<br>  <%= lorem.name %></p>
</span>

<table <%= table %>>
  <tr>
    <td>Table</td>
  </tr>
</table>