---
name: base
---

<table width="640" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color: #EAE9E4; width:640px;">
  <tr>
    <td width="640" valign="top" style="background-color: #D9D7CA;"><%= bp_mail_image :src => "default-top.png" %></td>
  </tr>
  <tr>
    <td width="640" valign="top">

      <table width="640" border="0" align="center" cellpadding="0" cellspacing="0" style="width:640px;">
        <tr>
          <td width="10" style="background-color: #D9D7CA;"><%= bp_mail_image :src => "spacer.png" %></td>
          <td width="620">

            <table width="620" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td width="20"><%= bp_mail_image :src => "spacer-20.png" %></td>
                <td width="570">
                  email base
                </td>
                <td width="30"><%= bp_mail_image :src => "spacer-30.png" %></td>
              </tr>
            </table>

          </td>
          <td width="10" style="background-color: #D9D7CA;"><%= bp_mail_image :src => "spacer.png" %></td>
        </tr>
      </table>


    </td>
  </tr>
  <tr>
    <td width="640" valign="top" style="background-color: #D9D7CA;"><%= bp_mail_image :src => "default-bottom.png" %></td>
  </tr>
</table>